@bankly:registry=https://pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/registry/:username=acessocardvsts
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/registry/:_password=MnVwa2k0a2xuNWVnbnR3bWJlcTI0enRkbnR0b3lnb3BiazZ5cnJvNHc3aGRxYWtnbzI0YQ==
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/:username=acessocardvsts
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/:_password=MnVwa2k0a2xuNWVnbnR3bWJlcTI0enRkbnR0b3lnb3BiazZ5cnJvNHc3aGRxYWtnbzI0YQ==
//pkgs.dev.azure.com/acessocardvsts/_packaging/Acesso@Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token                        
always-auth=true
